<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<%= form_for(@photo, :multipart => true) do |f| %>
  <!-- Label and input for photo_file -->
  <div class="form-group">
    <%= f.label(:photo_file, nil, :class => "col-sm-2 control-label") %>
    <div class="col-sm-10">
      <%= f.file_field :photo_file, :class => "form-control" %>
    </div>
  </div>

  <!-- Label and input for caption -->
  <div class="form-group">
    <%= f.label :caption, nil, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :caption, :class => "form-control", :placeholder => "Caption" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
      or
      <%= link_to "Cancel", :back %>
    </div>
  </div>
<% end %>
