<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Image url</dt>
  <dd><%= @photo.image_url %></dd>

  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>

  <dt>User</dt>
  <dd><%= @photo.user_id %></dd>

  <dt>Comments</dt>
  <dd>
    <ul>
      <% @photo.comments.each do |comment| %>
        <li><%= comment.content %></li>
      <% end %>
      <li>
        <form action="/create_comment">
          <input name="content" type="text">
          <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username)) %>
          <input type="hidden" name="photo_id" value="<%= @photo.id %>">
          <input type="submit" value="Add Comment">
        </form>
      </li>
    </ul>
  </dd>
</dl>


