<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt></dt>
  <dd><%= image_tag @photo.photo_file, :width => "320" %></dd>

  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>

  <dt>User</dt>
  <dd><%= @photo.owner.username %></dd>

  <dt>Comments</dt>
  <dd>
    <ul>
      <% @photo.comments.each do |comment| %>
        <li><%= comment.content %></li>
      <% end %>
      <li>
        <form action="/create_comment">
          <input type="text" name="content" class="form-control">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <input type="hidden" name="photo_id" value="<%= @photo.id %>">
        </form>
      </li>
    </ul>
  </dd>
</dl>


