<div class="page-header">
  <h1>Edit Favoriting #<%= @favoriting.id %></h1>
</div>

<% if @favoriting.errors.any? %>
  <% @favoriting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<form action="/update_favoriting/<%= @favoriting.id %>" class="form-horizontal">
  <!-- Label and input for user_id -->
  <div class="form-group">
    <label for="user_id" class="col-sm-2 control-label">
      User
    </label>
    <div class="col-sm-10">
      <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @favoriting.user_id %>">
    </div>
  </div>

  <!-- Label and input for photo_id -->
  <div class="form-group">
    <label for="photo_id" class="col-sm-2 control-label">
      Photo
    </label>
    <div class="col-sm-10">
      <input type="text" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= @favoriting.photo_id %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Favoriting" class="btn btn-primary">
    </div>
  </div>
</form>
